<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="team" class="io.haedoang.web.pojo.Team">
        <property name="name" value="ParentTeam" />
    </bean>

    <bean name="user" class="io.haedoang.web.pojo.User">
        <property name="name" value="ParentUser" />
        <property name="team" ref="team" />
    </bean>
</beans>
